BODY { font-family: sans-serif, serif, Verdana, Times, Courier;
       background: #f5f5dc;
       color: black }

H1 { color: #cc3333; text-align: center}
H2 { color: #cc3333; text-align: center}
H3 { color: #cc3333; text-align: center}
H4 { color: #cc3333 }
H5 { color: #cc3333 }

IMG.navbutton { background-color: #cfcdff; }

TABLE.aux { border: none }
TABLE.aux TH { text-align: left }
TABLE.aux TD { vertical-align: bottom }
TABLE.aux TD.link { vertical-align: bottom;
                    font-weight: bold;
                    font-size: 24pt }

DT.aux { font-weight: bold;
         font-size: 24pt }

TABLE.utils { border: none }
TABLE.utils TD { vertical-align: top }

TD.logohead { vertical-align: bottom;
              font-family: helvetica, sans-serif;
              font-size: large;
              white-space: pre }
TD.logotitle { vertical-align: bottom;
               color: #cc3333;
               font-family: helvetica, sans-serif;
               font-weight: bold;
               font-size: large;
               white-space: pre }

PRE { white-space: pre }

A:link { color: #005a7b }          /* unvisited link */
A:visited { color: #660000 }        /* visited links */
A:active { color: red }        /* active links */
