#
#     Copyright (C) 1999-2004  Liz Potterton, Peter Briggs
#
#     This code is distributed under the terms and conditions of the
#     CCP4 Program Suite Licence Agreement as a CCP4 Library.
#     A copy of the CCP4 licence can be obtained by writing to the
#     CCP4 Secretary, Daresbury Laboratory, Warrington WA4 4AD, UK.
#
#CCP4i_cvs_Id $Id$
#CCP4I VERSION CCP4Interface 0.14
#CCP4I SCRIPT DEF configure
#CCP4I DATE 06 May 1998  18:01:20
#CCP4I USER lizp
FONT_SET		_font_set		medium
FONT_REGULAR              _text                     -Adobe-Helvetica-Bold-R-Normal--*-120-*
FONT_ITALIC               _text                     -Adobe-Helvetica-Bold-O-Normal--*-120-*
FONT_BIG                  _text                     -Adobe-Helvetica-Medium-R-Normal--*-180-*
L_FONT_REGULAR              _text                   -Adobe-Helvetica-Bold-R-Normal--*-140-*
L_FONT_ITALIC               _text                   -Adobe-Helvetica-Bold-O-Normal--*-140-*
L_FONT_BIG                  _text                   -Adobe-Helvetica-Medium-R-Normal--*-180-*
L_FONT_FIXED                _text                     -*-courier-*-r-*-*-*-140-*-*-*-*-*-*
M_FONT_REGULAR              _text                   -Adobe-Helvetica-Bold-R-Normal--*-120-*
M_FONT_ITALIC               _text                   -Adobe-Helvetica-Bold-O-Normal--*-120-*
M_FONT_BIG                  _text                   -Adobe-Helvetica-Medium-R-Normal--*-180-*
M_FONT_FIXED                _text                     -*-courier-*-r-*-*-*-120-*-*-*-*-*-*
S_FONT_REGULAR              _text                   -Adobe-Helvetica-Bold-R-Normal--*-100-*
S_FONT_ITALIC               _text                   -Adobe-Helvetica-Bold-O-Normal--*-100-*
S_FONT_BIG                  _text                   -Adobe-Helvetica-Medium-R-Normal--*-140-*
FONT_SMALL                _text                     -Adobe-Helvetica-Medium-R-Normal--*-100-*-*-*-*-*-*
FONT_FIXED                _text                     -*-courier-*-r-*-*-*-120-*-*-*-*-*-*
S_FONT_FIXED                _text                     -*-courier-*-r-*-*-*-90-*-*-*-*-*-*
COLOUR_BOLD               _text                     #0c3a00
COLOUR_LINK               _text                     blue
COLOUR_PALE               _text                     #bebcaa
COLOUR_VERY_PALE          _text                     #e2e2c8
COLOUR_BACKGROUND         _text                     #fef0d6
COLOUR_CONTRAST           _text                     #ffcc66
COLOUR_WAITING            _text                     #f6c462
COLOUR_DISABLED           _text                     #898989
KEY_PAGE_UP               _text                     Prior
KEY_PAGE_DOWN             _text                     Next
KEY_UP                    _text                     Up
KEY_DOWN                  _text                     Down
AUTO_POSITION             _logical                  0
VIEW_FILE_SIZE_LIMIT      _positiveint              1000000
VIEW_TEXT_LINE_LIMIT      _positiveint              10000
CANVAS_MAX_HEIGHT         _positiveint              600
RUN_CCP4I		  _text "[file join [GetEnvPath CCP4I_TCLTK] wish] [file join [GetEnvPath CCP4I_TOP] bin ccp4i.tcl]"
RUN_CCP4I_PY		  _text "ccp4-python"
RUN_LOGGRAPH        	  _text "[file join [GetEnvPath CCP4I_TCLTK] wish] [file join [GetEnvPath CCP4I_TOP] bin loggraph.tcl]"
RUN_MAPSLICER             _text "[file join [GetEnvPath CCP4I_TCLTK] wish] [file join [GetEnvPath CCP4I_TOP] bin mapslicer.tcl]"
RUN_TOPDRAW               _text "[file join [GetEnvPath CCP4I_TCLTK] wish] [file join [GetEnvPath CCP4I_TOP] topdraw topdraw.tcl]"
RUN_IDIFFDISP             _text "[file join [GetEnvPath CCP4I_TCLTK] wish] [file join [GetEnvPath CCP4I_TOP] idiffdisp idiffdisp.tcl]"
RUN_IMOSFLM               _text "[GetEnvPath MOSFLM_WISH] [file join [GetEnvPath CCP4I_TOP] imosflm imosflm.tcl] project [GetCurrentProjectDir [GetCurrentProject]]"
RUN_CCP4MG                _text                     "ccp4mg"
RUN_COOT                  _text                     "[file join [GetEnvPath CCP4] coot bin coot]"
RUN_VIEWHKL               _text                     "viewhkl"
RUN_JLIGAND               _text                     "java -jar [file join [GetEnvPath CCP4] bin JLigand.jar] -cwd [GetCurrentProjectDir [GetCurrentProject]]"
RUN_BAUBLES               _text                     "ccp4-python [file join [GetEnvPath CCP4] share smartie baubles.py]"
RUN_DBVIEWER              _text                     "[file join [GetEnvPath CCP4I_TCLTK] wish] [file join [GetEnvPath CCP4] share dbccp4i application viewer.tcl]"
EXPORT_TO_QTRVIEW         _logical                  0
ENABLE_BUBBLE_HELP        _logical                  1
DISABLE_TASKS             _logical                  1
CCP4_SETUP_COMMAND        _text                     setup_ccp4
MESSAGE                   _text				""
BLT_LIBRARY               _text                     ""
MENU_LENGTH               _positiveint              25
HYPERTEXT_VIEWER          _text                     firefox
START_NETSCAPE	          _text			    netscape
O_MAPMAN                  _text                     mapman
MAPMAN_MAXSIZE		  _positiveint		    4194304
QUANTA_MBKALL             _text                     mbkall
SHELX			  _text			    shelxs
DATABASE_URL		  _text			    "http://www.ebi.ac.uk/cgi-bin/swissfetch?"
PROXY		          _text			    ""
PORT			  _text			    ""
MODELLER_MODINSTALL 	  _text			    ""
MODELLER_KEY 		  _text			    ""
MODELLER_PROGRAM          _text			    ""
NFULLPATHS		  _positiveint		    0
FULLPATH_PROG,0		  _text			    ""
FULLPATH_PATH,0		  _text			    ""
MAIL_ADDRESS              _text                     ccp4gui@dl.ac.uk
USER                      _text                     USER
REMOTE_PROTOCOL           _remote_protocol          ssh
N_REMOTE_MACHINES         _positiveint              1
REMOTE_MACHINE,0          _text                     ""
REMOTE_MACHINE,1          _text                     localhost
N_BATCH_QUEUES            _positiveint              0
BATCH_QUEUE_NAME,0        _text                     ""
BATCH_QUEUE_TYPE,0        _type_batch_queue         ""
BATCH_QUEUE_COM,0         _text                     ""
BATCH_QUEUE_COMPOUND,0    _list_of_text             ""
N_COLOUR_PRINTERS         _positiveint              0
COLOUR_PRINTER_NAME,0     _text                     ""
COLOUR_PRINTER_COM,0      _text                     ""
N_MONO_PRINTERS           _positiveint              0
MONO_PRINTER_NAME,0       _text                     ""
MONO_PRINTER_COM,0        _text                     ""
N_PS_PREVIEW              _positiveint              3
PS_PREVIEW_NAME,0         _text                     ""
PS_PREVIEW_NAME,3         _text                     evince
PS_PREVIEW_NAME,2         _text                     ghostview
PS_PREVIEW_NAME,1         _text                     xv
PS_PREVIEW_COM,0          _text                     ""
PS_PREVIEW_COM,3          _text                     "evince"
PS_PREVIEW_COM,2          _text                     "ghostview -magstep -1"
PS_PREVIEW_COM,1          _text                     xv
N_PAPER_SIZE              _positiveint              2
PAPER_SIZE_NAME,0         _text                     ""
PAPER_SIZE_NAME,1         _text                     A4
PAPER_SIZE_NAME,2         _text                     US
PAPER_SIZE_COM,0          _text                     ""
PAPER_SIZE_COM,1          _text                     "8.2i 11.6i"
PAPER_SIZE_COM,2          _text                     "8.5i 11.0i"
N_SERVERS                 _positiveint              0
SERVER_NAME,0             _text                     ""
SERVER_HOST,0             _text                     ""
SERVER_PORT,0             _text                     ""
GUI_PORT                  _text                     "4441  4450"
SERVER_PORT               _text                     4440
TYPEDEF_LIST              _data                 "   { _colour_printer N_COLOUR_PRINTERS COLOUR_PRINTER_NAME COLOUR_PRINTER_COM }  { _mono_printer N_MONO_PRINTERS MONO_PRINTER_NAME MONO_PRINTER_COM }  { _postscript_preview N_PS_PREVIEW PS_PREVIEW_NAME PS_PREVIEW_COM }  { _paper_size N_PAPER_SIZE PAPER_SIZE_NAME PAPER_SIZE_COM }  { _machines N_REMOTE_MACHINES REMOTE_MACHINE } { _batch_queues N_BATCH_QUEUES BATCH_QUEUE_NAME BATCH_QUEUE_COM } { _batch_queues2 N_BATCH_QUEUES BATCH_QUEUE_NAME BATCH_QUEUE_COMPOUND } "
IFCOLOUR                  _logical                  0	
N_COLOUR_TASK             _positiveint              1
N_COLOUR_WORD             _positiveint              1
TASK_NAME,0               _text                     ""
COLOUR_TASK,0             _text                     ""
WORD_TITLE,0              _text                     ""
COLOUR_WORD,0             _text                     ""
COLOUR_FINISHED           _text                     ""
COLOUR_FAILED             _text                     ""
COLOUR_KILLED          	  _text                     ""
COLOUR_BATCH              _text                     ""
COLOUR_RUNNING            _text                     ""
COLOUR_MODE               _colour_mode              "Default"
N_COLOUR_BG_TASK          _positiveint              1
N_COLOUR_BG_WORD          _positiveint              1
TASK_NAME_BG,0            _text                     ""
COLOUR_BG_TASK,0          _text                     ""
WORD_TITLE_BG,0           _text                     ""
COLOUR_BG_WORD,0          _text                     ""
COLOUR_BG_FINISHED        _text                     ""
COLOUR_BG_FAILED          _text                     ""
COLOUR_BG_KILLED          _text                     ""
COLOUR_BG_BATCH           _text                     ""
COLOUR_BG_RUNNING         _text                     ""
BG_COLOUR_MODE            _colour_mode              "Default"
TEXT_DEFAULT              _text                     "black"
BG_DEFAULT                _text                     "white"
USE_DBCCP4I_ON_STARTUP    _logical                  0
N_EXT_PARAMETERS          _positiveint              0
EXT_PARAMETER_NAME,0      _text                     ""
EXT_PARAMETER_VALUE,0     _text                     ""
EXT_PARAMETER_MESSAGE,0   _text                     ""
