#
#     Copyright (C) 1999-2004  Liz Potterton, Peter Briggs
#
#     This code is distributed under the terms and conditions of the
#     CCP4 Program Suite Licence Agreement as a CCP4 Library.
#     A copy of the CCP4 licence can be obtained by writing to the
#     CCP4 Secretary, Daresbury Laboratory, Warrington WA4 4AD, UK.
#
#CCP4i_cvs_Id $Id$
#CCP4I VERSION CCP4Interface 1.2.1
#CCP4I SCRIPT DEF domains
#CCP4I DATE 06 May 2000  18:01:20
#CCP4I USER lizp
N_DOMAINS                 _positiveint              0
DOMAIN_NAME,0             _text                     ""
DOMAIN_MACHINES,0         _text                     ""
