#
#     Copyright (C) 1999-2004  Liz Potterton, Peter Briggs
#
#     This code is distributed under the terms and conditions of the
#     CCP4 Program Suite Licence Agreement as a CCP4 Library.
#     A copy of the CCP4 licence can be obtained by writing to the
#     CCP4 Secretary, Daresbury Laboratory, Warrington WA4 4AD, UK.
#
#CCP4i_cvs_Id $Id$
#CCP4I VERSION CCP4Interface 0.9
#CCP4I SCRIPT DEF loggraph
#CCP4I DATE  09/03/98  16:05:30
#CCP4I USER lizp
LOG			_log_file		""
LOG_DIR			_default_dirs		SCRATCH
PRINT_TO_FILE		_logical		0
PRINT_TO_PRINTER	_logical		1
ORIENT			_orientation		landscape
PCOLOR			_colour_mode		monochrome
COLOUR_PRINTER		_colour_printer		""
MONO_PRINTER		_mono_printer		""
PAPER_SIZE		_paper_size		A4
PRINT_PREVIEW		_postscript_preview	ghostview
PHGT			_positiveint		850
PWID			_positiveint		650
PXOFF			_positiveint		20
PYOFF			_positiveint		20
PSFILE			_ps_file		""
PSFILE_DIR		_default_dirs		SCRATCH
USE_RESOLUTION		_logical		1
USE_COLOUR		_logical		1
USE_PATTERN		_logical		0
USE_SYMBOLS		_logical		0
DEF_LINEWIDTH		_positiveint		1
DEF_SYMBOLSIZE		_positiveint		6
NLINESTYLES		_positiveint		8
LINECOLOUR,0		_colour			black
LINECOLOUR,1		_colour			red
LINECOLOUR,2		_colour			blue
LINECOLOUR,3		_colour			green
LINECOLOUR,4		_colour			black
LINECOLOUR,5		_colour			magenta
LINECOLOUR,6		_colour			salmon
LINECOLOUR,7		_colour			cyan
LINECOLOUR,8		_colour			orange
LINEWIDTH,0		_positiveint		""
LINEWIDTH,1		_positiveint		""
LINEWIDTH,2		_positiveint		""
LINEWIDTH,3		_positiveint		""
LINEWIDTH,4		_positiveint		""
LINEWIDTH,5		_positiveint		""
LINEWIDTH,6		_positiveint		""
LINEWIDTH,7		_positiveint		""
LINEWIDTH,8		_positiveint		""
PATTERN,0		_linepattern		solid
PATTERN,1		_linepattern		solid
PATTERN,2		_linepattern		dots
PATTERN,3		_linepattern		"short dash"
PATTERN,4		_linepattern		"medium dash"
PATTERN,5		_linepattern		"long dash"
PATTERN,6		_linepattern		"dash-dot"
PATTERN,7		_linepattern		"dash-dot-dot"
PATTERN,8		_linepattern		"long-short-dot-short"
SYMBOL,0		_symbol			circle
SYMBOL,1		_symbol			circle
SYMBOL,2		_symbol			square
SYMBOL,3		_symbol			diamond
SYMBOL,4		_symbol			plus
SYMBOL,5		_symbol			cross
SYMBOL,6		_symbol			splus
SYMBOL,7		_symbol			scross
SYMBOL,8		_symbol			triangle
SYMBOLSIZE,0		_positiveint		""
SYMBOLSIZE,1		_positiveint		""
SYMBOLSIZE,2		_positiveint		""
SYMBOLSIZE,3		_positiveint		""
SYMBOLSIZE,4		_positiveint		""
SYMBOLSIZE,5		_positiveint		""
SYMBOLSIZE,6		_positiveint		""
SYMBOLSIZE,7		_positiveint		""
SYMBOLSIZE,8		_positiveint		""
