#
#     Copyright (C) 1999-2004  Liz Potterton, Peter Briggs
#
#     This code is distributed under the terms and conditions of the
#     CCP4 Program Suite Licence Agreement as a CCP4 Library.
#     A copy of the CCP4 licence can be obtained by writing to the
#     CCP4 Secretary, Daresbury Laboratory, Warrington WA4 4AD, UK.
#
#CCP4i_cvs_Id $Id$
#CCP4I VERSION CCP4Interface 0.9
#CCP4I SCRIPT DEF mapslicer
#CCP4I DATE  09/03/98  16:05:30
#CCP4I USER pjx

CONTOUR_MIN		_real		1.0
CONTOUR_MAX		_real		10.0
CONTOUR_INTERVAL	_real		1.0

VIEW_ORIENTATION	_text		"rhs"

CONTOUR_LINE_WIDTH      _positiveint    1
GRID_LINE_WIDTH         _positiveint    1

GRID_ON			_logical	1
GRID_X_SPACING		_real		0.1
GRID_Y_SPACING		_real		0.1
GRID_LABEL_PREC		_int		3
