div#content { 
              position: absolute;
              /*width: expression(document.body.currentStyle.width-165);*/
              }

div.cake-sql-log { 
                   clear: both;
                   }

/* special for space tree view */
div#label_container {
        position: absolute;
        top: -212px;
        left: -210px;
}
a.node {
        background: rgb(136,17,17);
}

#targetfilter {
        width: 850px;
}

#targetjump {
        width: 850px;
}

table {
        top: 140px;
}

td {
        width: auto;
}

#vs_table th.mainHeader {
    width: 0 !important;
    background-color: transparent !important;
    border: 0;
    padding: 10px;
}



