* {
    float: none;
    clear: none;
    }

a {
   text-decoration: none;
}

a:link {
    text-decoration: none;
    color: #004a7e;
}

a:visited {
    text-decoration: none;
    color: #074a7e;
}

a:active {
    text-decoration: none;
    color: #801010;
}

a:hover {
    text-decoration: none;
    color: #801010;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
}

html {
    margin:0;
    padding:0;
    display:flex;
    width:100%;
    height:100%;
}

body {
    min-width: 800px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #F8F8F8;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
}

.container-fluid {
    min-width: 800px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

dt, dd {
    padding: 5px 0 5px 10px;
}

.navbar {
    min-width: 800px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background: #F0F0F0;
}

.center {
    text-align: center;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

div.actions {
    font-weight: bold;
    /*display: inline;*/
    padding: 0px 10px 10px;
    border-bottom: 1px solid #eee;
}

ul.nav div.actions a {
    display: block;
    padding: 5px;
}

div.ajaxactions {
    font-weight: bold;
    float: right;
    display: inline;
    padding: 0px;
    margin: 0px;
    border: none;
}

div.ajaxactions a {
    text-align: center;
}

div.ajaxactions img {
    border: none;
    vertical-align: middle;
}

div.actions img {
    border: none;
    vertical-align: middle;
}

div.autocompleteOptions {
    background-color: white;
    border: 1px solid #888;
}

div.autocompleteOptions ul {
    list-style-type: none;
}

div.autocompleteOptions ul li {
    display: block;
    height: 32px;
    list-style-type: none;
    padding:2px;
    overflow-y: hidden;
    border-bottom: 1px solid #CCC;
}

div.autocompleteOptions ul li.selected {
    background-color: #FFB;
}

div.autocompleteOptions ul li:hover {
    background-color: #FFB;
}

div.autocompleteOptions ul li .informal {
    display: block;
    font-size: .9em;
    color: rgba(0, 0, 0, .50);
}

div#content {
    text-align: left;
    /*  background-color: green; */
    background-color: #eff2f4;
    background-image:url(../img/bg1.jpg);
    background-repeat:repeat-y;
    background-position:right;
    min-width: 1200px;
    max-width:1800px;
    padding: 10px;
    padding-left: 24px;
    border-radius: 10px;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

div.disabled {
    color: #666;
    display: inline;
}

div.formajaxactions {
    height: 30px;
    float: none;
    clear: both;
    display: block;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-weight: bold;
}
div.formajaxactions a {
    text-align: center;
    vertical-align: middle;
    display: block;
    float: left;
}

div.formajaxactions img {
    margin: 0px;
    border: none;
    text-align: center;
    vertical-align: middle;
}

div.formajaxactions input {
    margin: 0px;
    border: none;
    text-align: center;
    vertical-align: middle;
}

div.error-message {
    color: #FF0000;
    font-weight: bold;
}

div#footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
}

div#flashMessage {
    font-weight: bold;
    background: #FFCCCC;
    border: solid;
    border-width: 1px;
    border-color: #FF9999;
    padding: 10px;
}

div.leftnav { 
    width: 165px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 2px;
    padding-top: 2px;
    float: left;
    display: inline;
}

div#leftnav1 {
    background-color: #801010;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding-top: 2px;
    border-radius: 10px;
    text-align: center;
}

div.leftnav div.actions {
    color: #DDD;
    background-color: #801010;
    float: none;
    display: inherit;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 12px;
}

div.leftnav div.actions a {
    color: #DDD;
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
}

div.leftnav div.actions span#whoami {
    display: block;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

div#leftnav1 a {
    color: #DDD;
    line-height: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

div#leftnav1 img {
    padding-top: 10px;
    padding-bottom: 20px;
}

div#leftnav1 a:hover {
    color: #AAA;
}

div#level0 {
}

div#level1 {
    margin-left: 170px;
    padding-left: 18px;
}

div#level2 {
    float: left;
    display: inline;
}

div#topnav {
    background: #801010;
    color: #BBB;
    margin-top: 25px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    /*width: 56em;*/
    padding: 0;

    border-radius: 10px;
    /*  -webkit-border-radius: 10px;*/
    border-radius: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    font-weight: bold;
    text-align: center;
}

div#topnav a {
    color: #DDD;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

div#topnav a:hover {
    color: #BBB;
}

ul.dropdown {
	display: inline;
	list-style: none;
}

.dropdown li {
	display: inline-block;
	list-style: none;
	padding: 0px 7px 0px 7px;
	position: relative;
}

.dropdown > li~li:after {
    background: grey;
    bottom: 20%;
    content: "";
    height: 60%;
    left: 0;
    position: absolute;
    width: 2px;
}

.dropdown > li > a {
	display: inline-block;
	padding-bottom: 6px;
	padding-top: 6px;
}

.dropdown li ul {
	display: none;
	left: 0;
	padding: 0;
	text-align: left;
	visibility: hidden;
	width: 200px;
}

.dropdown li:hover ul {
	display: block;
	position: absolute
}

.dropdown li ul li {
	background: #555;
	display: block;
	padding: 4px 2px 4px 4px;
	visibility: visible;
	z-index: 999;
}

h1,h2,h3,h4 {
    /*width: 100%;*/
    margin: 15px 0 20px 0;
    color: #801010;
    font-weight: normal;
}

h1 {
    font-size: 18pt;
}

h2 {
    font-size: 17pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 15pt;
}

h {
    text-align: center;
}

.inline {
    display: inline;
}

.link {
    cursor: pointer;
}

.paging img {
    border: none;
    vertical-align: middle;
}

.mono {
    font-family: courier,"Courier New",monospace;
}

p {
    padding-top: 7px;
    padding-bottom: 7px;
}

.clear {
    clear: both;
}

span.pipe {
    border-right: 2px solid grey;
    line-height: 10px;
}

table {
    clear: both;
    border-color: lightgrey;
    border-spacing: 0px;
    border-style: solid;
    border-width: 1px;
    width: calc(100% - 10px);
    margin: 1px;
    padding: 0;
}

td {
    padding: 6px 0.5em;
}

th {
    padding: 2px 0.5em;
    border-collapse: collapse;
    border-style: solid;
    border-color:#801010;
    border-width: 1px 1px 1px 1px;
}

td.numeric {
    text-align: right;
}

/*th {
    background-color: #c0c0c0;
}

th.mainHeader {
    background-color: #801010;
    color: #ffffff;
    text-align: left;
    height: 20px;
}

th a {
    color: #000080;
    text-decoration: none;
}

th a:visited {
    color: #000080;
}

th a:active,th a:hover {
    color: #800000;
    text-decoration: underline;
}*/

tr.alternateRow,tr.altrow {
    background-color: #e8e8e8;
}


tr:nth-child(even) {
    background-color: #e8e8e8;
}

dt,dd {
    background-color: #dcdcdc;
    border-bottom: 1px solid lightgrey;
}

dt.altrow,dd.altrow{
    background-color:#e8e8e8;
}

form.inplaceeditor-form {
    display:inline;
}

tr {
    vertical-align: top;
    background-color: #cbcbcb;
}

tr tr.alternateRow,tr tr.altrow {
   background-color: #f0f0f0;
}

tr.mainHeader {
    background-color: inherit;
}

tr.link:hover {
    background-color: #e0c0c0;
}

tr.link.alternateRow:hover {
    background-color: #f0d0d0;
}

table.cake-sql-log {
    clear: both;
}

div.comm {
    margin: 10px;
    padding: 10px;
    background-color: #801010;
}

div.comm h3 {
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    color: #FFFF00;
}

div.comm h3 a:link{
    text-decoration: none;
    color: #dddddd;
}

div.comm h3 a:visited{
    text-decoration: none;
    color:#dddddd;
}

div.comm h3 a:hover{
    color: #004a7e;
}
	
div.comm img a:link{
    border: 1px;
    border-color: #801010;
}
.request{
    font-size:smaller;
    font-style:italic;
}

.biological-ligand {
    font-weight: bold;
}
#contact_us {
    padding:10px;
    position: relative;
}
/*.left_title_img{
    padding-left:100px;
    float:left;
    position:relative;
}
.right_title_img{
    padding 30px;
    position:relative;
    float:right;
}*/

.title_img tr{
    background-color:#FFFFFF
}

.celebration{
    background-image:url(../img/celebration-bg.png);
}

table.filter tr {
    background-color: inherit;
}

div.presentation {
    display: block;
}

div.nopresentation {
    display: none;
}

.highlighted td{
    background-color: #FFE0E0;
}

.hidden {
    display: none;
}

div.required label {
    font-size: 1.1em;
    font-weight: bold;
}

#overlay{
        z-index:100;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right: 0;
        background:#fff;
        border: 1px solid #ddd;
        opacity:0.45;
        -moz-opacity:0.45;
        filter:alpha(opacity=45);
        display:none;
}
#loader{
        z-index:101;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right: 0;
        display: none;
}
#loader #spinner_box{
        font-size:20px;
        font-weight: bold;
        padding: 15px 0;
        text-align: center;
        background: #fff;
        border: #555 1px solid;
        width: 250px;
        margin: 300px auto;
}

.content {
    margin-top: 60px;
    margin-bottom: 15px;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1148px) {
    .content {
        margin-top: 10px;
    }
}

.main-page-paragraph {
    padding: 1em;
}

.shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header-logo {
    float: left;
    display: inline;
    margin-right: 50px;
}

.nopadding {
    padding: 0;
}

.panel {
    padding-top: 20px;
    border-radius: 0;
}

.nav-stacked {
    position: fixed;
    padding-top: 40px;
    padding-left: 20px;
}

.background {
    z-index: 0;
}

.panel {
    border-right: none;
    margin-bottom: -1px;
}

.panel-body {
}

.fullscreen-length {
    min-height: calc(100vh - 70px);
}

.footerless-length {
    min-height: calc(100% - 40px);
}

#columnfilter {
    margin-left: 25px;
}

label {
    margin-right: 10px;
}

footer {
    color: white;
    z-index: 2;
}

.input label {
    padding: 0 5px;
}

.btn {
    padding: 3px 6px;
}

.form-control {
    width: 200px;
    padding: 3px 6px;
    display: inline;
    height: auto;
    margin-right: 10px;
}

.submit {
    margin-right: 5px;
    display: inline;
}

#TargetKeywordHelper {
    margin-left: 20px;
    display: inline;
    width: 200px;
}

.btn-select.btn-select-light .btn-select-value {
    background-color: white;
    color: black;
}

legend {
    font-size: 14px;
    margin-bottom: 0;
    border: 0;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    color: #777;
    padding-top: 15px;
    line-height: 20px;
}

.dropdown:hover {
    color: black;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.nav-stacked>li>a {
    padding: 7px 15px;
}

.big-icon {
    font-size: 90px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container.space-around {
    justify-content: space-around;
}
.container.space-between {
    justify-content: space-between;
}
.container.flex-center {
    justify-content: center;
}

#homeicons {
    width:100%;
    margin: 40px 0;
}

.icon-desc {
    text-align: center;
    font-size: large;
}

.pubcover {
    border-radius: 5px;
    zoom: 75%;
}

.news_header {
    padding: 10px 15px 0;
    font-size: larger;
    font-weight: bolder;
}

.news {
    padding: 10px 15px;
}

.side-menu {
    background-color: #f8f8f8;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

#authMessage {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
