#CCP4I VERSION CCP4Interface 1.4.4.1
#CCP4I SCRIPT DEF dbviewer
#CCP4I DATE 08 May 2007  14:17:45
#CCP4I USER wy45

CURRENT_PROJECT           _text                     ""

ORIENTATION		  _text			    TB
SHAPE                     _text                     box
COLOR                     _text                     black
BACKGROUND                _text                     white
FILLCOLOR                 _text                     ""

MAXWIDTH		  _int			   600 
MAXHEIGHT		  _int			   600
MINWIDTH		  _int			   300
MINHEIGHT		  _int			   300
BORDER			  _int			    10
SCALE			  _int			   100
NODE_TASKNAME             _int                       1
NODE_TITLE                _int                       1
