#
#     Copyright (C) 1999-2004  Liz Potterton, Peter Briggs
#
#     This code is distributed under the terms and conditions of the
#     CCP4 Program Suite Licence Agreement as a CCP4 Library.
#     A copy of the CCP4 licence can be obtained by writing to the
#     CCP4 Secretary, Daresbury Laboratory, Warrington WA4 4AD, UK.
#
#CCP4i_cvs_Id $Id: directories.def.dist,v 1.9 2008/08/12 10:48:19 pjx Exp $
#CCP4I VERSION CCP4Interface 0.2
#CCP4I SCRIPT DEF directories
#CCP4I DATE  25/06/97 16:05:30
#CCP4I USER lizp
PROJECT_MENU		_menu			""
N_PROJECTS              _positiveint1           0
PROJECT_ALIAS,0         _text                   ""
PROJECT_PATH,0          _dir                    ""
PROJECT_DB,0            _dir                    ""
N_DEF_DIRS		_positiveint1		1
DEF_DIR_PATH,0		_dir			""
DEF_DIR_ALIAS,0		_text			""
DEF_DIR_PATH,1          _dir                    \$CCP4_SCR
DEF_DIR_ALIAS,1         _text                   TEMPORARY
