BODY { font-family: Times, Times New Roman, Courier, Symbol, serif;
       background: #ffffff;
       color: #000000;
       font-size: large }

H1 { background-color: transparent; color: #cc3333}
H2 { background-color: transparent; color: #cc3333}
H3 { background-color: transparent; color: #cc3333}
H4 { background-color: transparent; color: #000000}
H5 { background-color: transparent; color: #cc3333}
H6 { background-color: transparent; color: #cc3333}

TABLE.thleft { text-align: right }
TABLE.thleft TH { text-align: left }

TABLE.thtop { text-align: center }
TABLE.thtop TH {text-align: left;
                vertical-align: top }

TABLE.hints { background-color: #ffffcc;
              color: #000000;
              font-size: large }

TT { font-family: Courier, monospace }

PRE { font-family: Courier, monospace;
      white-space: pre }
PRE.green { font-family: Courier, monospace;
             background-color: transparent;
             color: #009900;
            white-space: pre }

A:link { background-color: transparent; color: #005a7b }          /* unvisited link */
A:visited { background-color: transparent; color: #660000 }        /* visited links */
A:active { background-color: transparent; color: #ff0000 }        /* active links */
