BODY { font-family: Times, Times New Roman, Symbol, serif;
       background: #ffcc66;
       color: black }

H1 { color: #cc3333 }
H2 { color: #cc3333 }
H3 { color: #cc3333 }
H4 { color: #cc3333 }
H5 { color: #cc3333 }
H6 { color: #cc3333 }

TD.logohead { vertical-align: bottom;
              font-family: helvetica, sans-serif;
              font-size: large;
              white-space: pre }
TD.logotitle { vertical-align: bottom;
               color: #cc3333;
               font-family: helvetica, sans-serif;
               font-weight: bold;
               font-size: large;
               white-space: pre }

TABLE.aux { border: none}
TABLE.aux TH { text-align: left }
TABLE.aux TD { vertical-align: bottom }
TABLE.aux TD.link { vertical-align: bottom;
                    font-weight: bold;
                    font-size: 24pt }

DT.aux { font-weight: bold;
         font-size: 24pt }
            
PRE { white-space: pre }

A:link { color: #005a7b }          /* unvisited link */
A:visited { color: #660000 }        /* visited links */
A:active { color: red }        /* active links */
