BODY { font-family: sans-serif, serif, Verdana, Times, Courier;
       background: #f5f5dc;
       color: #000000 }

H1 { color: #cc3333 }
H2 { color: #cc3333 }
H3 { color: #cc3333 }
H4 { color: #cc3333 }
H5 { color: #cc3333 }
H6 { color: #cc3333 }

IMG.navbutton { background-color: #cfcdff; }

TABLE TH { background-color: #cfcdff; }

TABLE TH.navhead { background-color: #f5f5dc; }
TABLE TH.navmod { background-color: #f5f5dc; }

TABLE.bathbuttons { padding-top: 1em;
                    padding-bottom: 1em }
TABLE.bathbuttons TD { text-align: left }
TABLE.bathbuttons TD.right { text-align: right }
TABLE.bathbuttons TD.center { text-align: center }

TABLE.bath1 { border: none }
TABLE.bath1 TD { text-align: center;
                 vertical-align: text-top }

TABLE.bath2 { border: none }
TABLE.bath2 TD { vertical-align: middle }

TABLE.bath3 { border-width: thick }
TABLE.bath3 TD { text-align: center;
                 vertical-align: text-top }

TABLE.bath4 { border: none }
TABLE.bath4 TH { text-align: left }
TABLE.bath4 TD { text-align: left;
                 white-space: pre }
TABLE.bath4 TD.center { text-align: center }

TABLE.bath5 { border-width: thick }
TABLE.bath5 TH { text-align: right;
                 vertical-align: text-top }
TABLE.bath5 TD { text-align: right;
                 vertical-align: text-top }

TABLE.bath6 { border: none }
TABLE.bath6 TH { text-align: center;
                 vertical-align: text-top }
TABLE.bath6 TD { text-align: right }

TH.navhead { color: #cc3333;
             text-align: left }
TH.navmod { text-align: left }
TD { vertical-align: text-top }
TD.index2 { vertical-align: bottom }
TD.index { text-align: right }
TD.logohead { vertical-align: bottom;
              font-family: helvetica, sans-serif;
              font-size: large;
              white-space: pre }
TD.logotitle { vertical-align: bottom;
               color: #cc3333;
               font-family: helvetica, sans-serif;
               font-weight: bold;
               font-size: large;
               white-space: pre }
TD.logopic { vertical-align: bottom;
             white-space: pre }
TD.logoprog { font-family: helvetica, sans-serif;
              font-weight: bold;
              white-space: pre }

IMG.nav { vertical-align: baseline }

UL.squarebullet { list-style-image: url("http://www.ysbl.york.ac.uk/~mgwt/CCP4I/images/bullettr.gif");
                  list-style-position: inside }
LI.squarebullet { list-style-image: url("http://www.ysbl.york.ac.uk/~mgwt/CCP4I/images/bullettr.gif");
                  list-style-position: inside }

TT { font-family: Courier, monospace }

PRE { font-family: Courier, monospace;
       white-space: pre }

A:link { color: #005a7b }          /* unvisited link */
A:visited { color: #660000 }        /* visited links */
A:active { color: red }        /* active links */
